@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 
body{
    background: linear-gradient(#e66465, #9198e5);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}


.add_todo h1{
    position: relative;
    text-align: center;
    top: 40px;
    font-family: 'Roboto';
    color: rgb(54, 114, 136);

}

.todo_list{
    width: 530px; 
    height: 120px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding-top: 70px;
    margin: 0 auto;
    position: relative;
    top: 35px;
}   

input{
    border-radius: 5px;
    width: 50%;
    height: 30px;
    margin-right: -27px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 10px;
    color: #111111;
    font-weight: 500;
    position: relative;
}

input:focus{
    outline: none;
    border-color: rgb(57, 129, 183);
}

#ajouter{
    position: relative;
    float: right;
    width: 77px;
    height: 50px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    background: rgb(57, 129, 183);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 63px;
    margin-top: 1px;
}

ul{
    list-style: none;
    padding: 0;
}

.todo{
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    margin-top: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    background-color: rgb(255, 255, 255);
    align-items: center;
    
    
}

.todo_container{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    padding: 5px;
    width: 522px; 
    margin: 67px auto;
}

.todo_container h1{
    text-align: center;
    top: 100px;
    font-family: 'Roboto';
    color:
     rgb(54, 114, 136);
}

.todo_btn button{
    width: 77px;
    height: 50px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    background: rgb(57, 129, 183);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 5px;

}

#delete{
    background-color: red;
}

.todo_app{
    padding-bottom: 20px;
}
